
body
{
   padding-top: 20vh;
   width: fit-content;
   margin: auto;
}


h3
{
    color: darkcyan;
}

ul
{
    border-style: dashed;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 400px;
    background-color: #f1f1f1;
}

li
{
    padding: 0;
    margin: 0;
}

li a {
    font-size: 20px;
    background-color: whitesmoke;
    display: block;
    color: darkred;
    padding: 5px;
    text-decoration: none;
}

li a:hover {
    background-color: darkred;
    color: white;
}

.lecturer
{
    font-style: italic;
}
