#content-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    margin: auto;
}

.welcomeText {
    color: #bfbe00;
    text-shadow: 0 2px #004d14;
    text-align: center;
    margin: 10px auto;
}

.panel {
    margin: 0 auto;
    width: max-content;
    max-width: 80%;
    background: #fffffd;
    border: 3px solid #d4d4d2;
}

.classroom h3 {
    position: absolute;
    text-align: center;
    font-family: BPG_111, Roboto, serif;
    padding: 10px;
    width: 272px;
    top: 100px;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.classroom {
    position: relative;
    display: inline-block;
    border-radius: 7px;
    border-color: black;
    width: 272px;
    margin: 20px 20px;
    height: 200px;
    background-color: #dedede;
    background-size: 400px;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.classroom:hover {
    cursor: pointer;
    width: 292px;
    background-color: rgba(0, 103, 0, 0.72);
    height: 218px;
}

.classroom:hover>h3 {
    color: white;
    position: absolute;
    text-align: center;
    width: 292px;
    top: 109px;
}

.classroom img {
    background-color: #efefef;
    border-radius: 7px 7px 0 0;
    border: 10px solid #efefef;
}