.fill {
    min-height: 100%;
    width: 80px;
    position: fixed;
    background-color: #b2b4ae;
    text-align: center;
}

#user-panel-img {
    width: 80%;
    margin: 5px auto auto;

}

#panel-swipe {
    width: 80%;
    position: relative;
    bottom: 0px;
}

#content {
    padding-left: 80px;
}

#code-panel {
    float: left;
    width: 65%;
}

#comment-panel-wrapper {
    float: left;
    padding-left: 10px;
    width: 35%;
}

#comment-panel {
    background-color: #F5F5F5;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
}

#comment-profile-picture {
    display: inline-block;
    width: 20%;
    padding: 5px;
}

#comment-content {
    border-right: 6px solid rgba(120, 0, 0, 0.59);
    margin-top: 10px;
    display: inline-block;
    width: 70%;
}

#reply-panel-wrapper {
    padding: 20px 5% 5px 15%;
}

#reply-profile-picture {
    display: inline-block;
    width: 20%;
    padding: 5px;
}

#reply-content {
    display: inline-block;
    width: 70%;
}

.panel-body {
    height: 100%;
}

#reply-panel {
    padding: 5px;
    background-color: #dcdcdc;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
}