#user-panel-img {
    width: 80%;
    margin: 5px auto auto;

}


#jstree_demo_div
{
    position: absolute;
    left: 5px;
    min-height: 500px;
    min-width: 500px;
    z-index: 1000;
    background: darkgray;
}

#panel-swipe {
    width: 80%;
    position: relative;
    bottom: 0;
}

#content {
    padding-left: 80px;
}

#code-panel {
    float: left;
    min-width: 65%;
    max-width: 100%;
}

#comment-panel-wrapper {
    float: left;
    padding-left: 10px;
    width: 35%;
}

#comment-panel {
    background-color: #F5F5F5;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
}

#comment-profile-picture {
    display: inline-block;
    width: 20%;
    padding: 5px;
}

#comment-content {
    border-right: 6px solid #aa6664;
    margin-top: 10px;
    display: inline-block;
    width: 70%;
}

.reply-panel-wrapper {
    padding: 20px 5% 5px 15%;
}

.reply-profile-picture {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 5px;
}

.reply-user-name {
    font-weight: bold;
}

.reply-content {
    display: inline-block;
    width: 70%;
}

.reply-panel {
    padding: 5px;
    background-color: #dcdcdc;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
}

.editor-wrapper {
    margin-top: 5px;
}

.reply-date {
    color: #97a3aa;
    font-size: small;
    float: right;
}

html {
    height: 100%;
}

#content {
    min-height: 100%;
}

#comment-user-name {
    font-weight: bold;
}

.reply-profile-picture {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#comment-profile-picture {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


#comment-date {
    color: #97a3aa;
    font-size: small;
    float: right;
    margin-right: 5px;
}

.CodeMirror-linenumber{
    cursor: pointer !important;
}

#notification-text{
    text-align: center;
    font-family: Consolas, serif;
    color: #97a3aa;
}

#loader-wrapper {
    position: fixed;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 105;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}