#content {
    margin-left: 80px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.user-box {
    display: inline-block;
    position: relative;
    max-width: 250px;
    min-width: 250px;
    min-height: 250px;
    max-height: 250px;
    background-color: #F5F5F5;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10%;
}

.user-box:hover {
    background-color: #dcdcdc;
    cursor: pointer;
}

.user-img {
    width: 50%;
    border-radius: 50%;
    margin: 5px auto;
}

.user-name {
    text-align: center;
}

.user-point{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: #ffffff;
    height: 40px;
    display: block;
    user-select: none;
    cursor: pointer;
}