
body
{
    text-align: center;
}

form
{
    position: relative;
    width: 400px;
    height: 400px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
}

.input-group > *
{
    text-align: left;
    margin-bottom: 15px;
    padding: 5px;
    width: 300px;
}