
body
{
    text-align: center;
}

form
{
    position: relative;
    width: 400px;
    height: 400px;
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
    padding-top: 20px;
}

form input, form h2
{
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    width: 300px;
}