html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.sidenav {
    display: flex;
    background-color: red;
    flex-direction: column;
    height: 100%;
    width: 0;
    z-index: 100;
    top: 0;
    left: 80px;
    overflow-x: hidden;
    transition: 0.5s;
}

#user-panel-img {
    position: relative;
    transform: translateY(-50%);
    height: 50px;
    left: 49%;
    margin: 5px auto auto;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#menuBar {
    position: relative;
    top: 50%;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    left: -47%;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    border: none;
    outline: none;
}

#menuBar span {
    position: absolute;
    width: 50px;
    height: 4px;
    top: 50%;
    left: 50%;
    background: #262626;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear;
}
#menuBar span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: gray;
    transition: all 0.3s linear;
}
#menuBar span:nth-child(1) {
    animation: span-first-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
#menuBar span:nth-child(2) {
    animation: span-second-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
#menuBar span:nth-child(3) {
    animation: span-third-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#menuBar.on:hover span::before {
    width: 100%;
    transition: all 0.3s linear;
}
#menuBar.on span:nth-child(1) {
    animation: span-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
#menuBar.on span:nth-child(2) {
    animation: span-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
#menuBar.on span:nth-child(3) {
    animation: span-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes span-first-on {
    0% {
        transform: translate(-50%, -300%);
    }
    30% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
@keyframes span-first-off {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -300%);
    }
}
@keyframes span-second-on {
    0% {
        transform: translate(-50%, -50%);
    }
    25% {
        background: gray;
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-150%, -50%) scale(0);
    }
}
@keyframes span-second-off {
    0% {
        transform: translate(-150%, -50%) scale(0);
    }
    25% {
        background: gray;
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
@keyframes span-third-on {
    0% {
        transform: translate(-50%, 200%);
    }
    30% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
@keyframes span-third-off {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, 200%);
    }
}

.fill {
    background-color: #8a3d3d;
    margin-top: 5px;
    display: none;
    width: 80px;
    position: fixed;
    min-width: 100%;
    text-align: center;
    height: 55px;
    z-index: 101;
}

#panel-swipe {
    width: 80%;
    position: relative;
    bottom: 0;
}

.sidenav-container {
    width: 100%;
}


.sidenav-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: #ffffff;
    height: 40px;
    display: block;
    user-select: none;
    cursor: pointer;

}

.sidenav-item p, .sidenav-item a {
    width: 80%;
    margin-left: 10%;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,0.87);
    font-weight: 900;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}

.sidenav-item:hover{
    background-color: #f5f5f5;
}

.sprt{
    border-top: .1rem solid rgba(0,0,0,0.12);
}

#jstree_demo_div_container {
    height: 100%;
    background-color: black;
    z-index: 120;
    position: absolute;
    left: 5px;
    min-width: 500px;
}

#jstree_demo_div{
    background-color: red;
    display: block;
    height: 70%;
    z-index: 121;
    position: fixed;
    left: 5px;
    min-height: 500px;
    min-width: 500px;
}

#toggle-project-view{
    display: block;
    position: fixed;
    top: 20%;
    font-size: 20px;
    left: 5px;
}

#login-logo {
    width: 50%;
}