html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.sidenav {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 80px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}



.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#menuBar {
    position: absolute;
    font-size: 40px;
    bottom: 10px;
    left: 20px;
    cursor: pointer;
}

.fill {
    display: none;
    min-height: 100%;
    width: 80px;
    position: fixed;
    background-color: #b2b4ae;
    text-align: center;
    z-index: 101;
}

#user-panel-img {
    width: 80%;
    margin: 5px auto auto;

}

#panel-swipe {
    width: 80%;
    position: relative;
    bottom: 0;
}

.sidenav-container {
    width: 100%;
}


.sidenav-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: #ffffff;
    height: 40px;
    display: block;
    user-select: none;
    cursor: pointer;

}

.sidenav-item p, .sidenav-item a {
    width: 80%;
    margin-left: 10%;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,0.87);
    font-weight: 900;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}

.sidenav-item:hover{
    background-color: #f5f5f5;
}

.sprt{
    border-top: .1rem solid rgba(0,0,0,0.12);
}